navbar{
    background-color: orange;
}

.nav-link{
    color: blueviolet !important;
}

.collapse{
    display: flex;
    justify-content: flex-end;
}

.navbar-brand{
    text-transform: uppercase;
    background-color: black;
    color: black;
    text-align: center !important;
}



